h1 {
   color: red;
    font-size: 80px;



}
.box {
    height: 255px;
    width: 255px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: gray;
    margin: 10px;

   

}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: dark gray;
    padding-top: 100px;
    justify-content: center;
   
}
.logo {
    font-size: 50px;
    color: aqua;
    size: 15px;
    display: flex; 
}
.logo span {
    color: navy;

}
.bike {
    margin-top: 24px;
    margin-bottom: 24px;
    align-items: center;
}